<%= form_with(model: article) do |form| %>
<% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-name">
    
    <%= form.text_field :title, value: @title ,placeholder: 'Title' %>
  </div>

  

  <div class="form-name">
    <%= form.label :folder_id %>
    <select name="article[folder_id]" class="form-select">
      <% Folder.all.each do |folder| %>
      <option value = "<%= folder.id %>"><%= folder.name %></option>
      <% end %>
    </select>
  </div>
<div class="form-name">
    <%= form.label :description %>
    <%= form.text_area :description, value: @description %>
  </div>
<div class="btn-holder-base">
   <%= button_tag(type: "submit", class: "btn btn-primary") do %>
           Save
        <% end %>
        <button class="btn btn-danger"> <%= link_to 'Back', root_path ,class: 'link_tag'%> </button>
</div>
<% end %>


  