<%= content_for :title, "Knowledge Base" %>
<header>
  <div class="logo">Xero<span>Source</span></div>
</header>
<div class="nav-btn">Menu</div>
<div class="container">
  
  <div class="sidebar">
    <nav>
      <a href="/categories" class="logo_a"><%= image_tag "logo.png" %></a>
      <ul>
        <li><%= link_to "/tickets" do %>
          <i class="fa-solid fa-ticket">
          </i>
          <% end %>
        </li>
        
        <li>
          <%= link_to "/categories" do %>
          <i class="fa-solid fa-book-open"></i></li>
          </i>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>

  <div class="topnav">
    <span>Knowledge Base</span>
    <span>
      <%=button_to "/articles/new",method: :get, class: "new_article_btn" do%>
      <i class="fa-solid fa-plus"></i>
      New Article
      <% end %>
    </span>

  </div>

  <div class="main-content">
    <div class="flex-holder">
      <% @categories.each do |category| %>
      <div class="flex">
        <i class="fa-solid fa-folder"></i>
        <span><%=category.name%></span>
        <br>
        <% category.folders.each do |folder| %>
        <div class="folderslist">
        <span><a href="/folders/<%=folder.id%>"><%= folder.name %></a></span>
        <span style="float:right;"><%= folder.articles.count %></span>
      </div>
      <% end %>
      </div>

      <% end %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
	$('.nav-btn').on('click', function(event) {
		event.preventDefault();
		/* Act on the event */
		$('.sidebar').slideToggle('fast');

		window.onresize = function(){
			if ($(window).width() >= 768) {
				$('.sidebar').show();
			} else {
				$('.sidebar').hide();
			}
		};
	});
});
</script>
